
header {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}


main {
    display: flex;
    justify-content: center;
    
    
    
}
 
.card {
    display: flex;
    border: none;
    align-items: center;
    margin-top: 60px;
    padding: 10%;
    height: 100%;
    
    
}
.question-style {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.choice-container {
    display: flex;
    flex-flow: column;
    align-self: flex-start;
    margin-top: 10px;
}
.choice-button {
    border-radius: 15px;
    font-size: larger;
    font-weight: bold;
    background: purple;
    color: white;
    margin: 8px;
    width: 250px;
    height: 50px;
}
