
header {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}


main {
    display: flex;
    justify-content: center;
    
    
    
}
 .start-button {
     width: 150px;
     height: 50px;
     font-size: 20px;
     font-weight: bold;
     color: white;
     background: #3E124F;
     border-radius: 10px;

 }
.card {
    display: flex;
    border: none;
    align-items: center;
    margin-top: 60px;
    padding: 10%;
    height: 100%;
    
    
}
.card > h1 {
    padding-bottom: 20px;
    font-size: 50px;

}
.card > p {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    
}
.question-style {
    font-size: 35px;
    text-align: center;


}
.choice-container {
    display: flex;
    flex-flow: column;
    align-self: flex-start;
    margin-top: 10px;
}
.choice-button {
    text-align: left;
    border-radius: 8px;
    font-size: larger;
    font-weight: bold;
    background: #3E124F;
    color: white;
    margin: 5px;
    width: 200px;
    height: 50px;
}

.Submit-button {
    background: #3E124F;
    color: white;
    border-radius: 5px;
}
.score-card {
    width: 60%;
    margin: auto;
    align-items: flex-start;
    
    
}
.back-button {
    margin-top: 25px;
    border-radius: 5px;
    background: #3E124F;
    color: white;
    font-weight: bold;
}
.clear-button {
    border-radius: 5px;
    background: #3E124F;
    color: white;
    font-weight: bold;
}
.saved-scores {
    font-size: 20px;
    font-weight: bold;
    background: #9370DB;
    padding-right: 150px;
    border-radius: 5px;
    
    
}